/* COMMONS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
input {
    border:1px solid lightgray;
}
main header {
    height: 70px;
    width: 100%;
    background-color: #eaeaea;
}
.green {
    background-color: lightgreen;
    align-self: flex-end;
}
.white {
    background-color: white;
}
.blue {
    color:#6cb2c6
}
.none {
    display: none;
}
/* FINE COMMONS  */
.container {
    height: 100vh;
    position: relative;
    background-color: #d7dbd6;
}
.barra {
    height: 20%;
    background-color: #009688;
}
/* MAIN  */
main {
    width: 80%;
    min-width: 900px;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
/* colonna sinistra  */
main .col-sx {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* header colonna sinistra  */
main .col-sx header{
    border-right: 1px solid #b1b1b1;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.container-user img {
    height: 100%;
    border-radius: 50%;
    vertical-align: middle;
}
.container-user .user-name, #chat-name-now{
    text-transform: capitalize;margin-left: 5px;
}
header .container-user{
    width: 50%;
    height: 100%;
}
header .container-icon-user, .container-icon-chat{
    display: flex;
    align-items: center;
}
header .container-icon-user i, .container-icon-chat i{
    margin: 0 5px;
    color: #b1b1b1;
}

/* fine header colonna sinistra  */
/* notifiche  */
.container-notifiche {
    height: 80px;
    width: 100%;
    background-color: #8edafb;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.container-bell {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}
.container-bell i {
    color: #8edafb;

}
.link-notifiche {
    font-size: 14px;
    color: #80868a;
}
/* fine notifiche  */
.container-search {
    padding: 5px 10px;
    height: auto;
    background-color: #fafafa;
    display: flex;
    align-items: center;
}
.container-search #search-user {
    height: 30px;
    padding: 5px 10px;
    background-color: white;
    margin-right: 1px;
    border-radius: 5px 0 0 5px;

}
.container-search input{
    width: 100%;
    height: 30px;
    line-height: 25px;
    padding: 0 20px;
    border:none;
    border-radius: 0px 5px 5px 0;
}
.container-chat {
    flex-grow: 1;
    background-color:white;
    overflow: auto;
}
.container-chat .chat {
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    position: relative;
}
.container-chat .chat .data-last-message{
    position: absolute;
    right: 20px;
    top: 15px;
    color: #8d9296;
    font-size: 12px;
}

.container_nome {
    width: 80%;
    margin-left: 5px;
}
.chat-name{
    font-weight: 700;
}
.last-message {
    height: 16.5px;
    font-size: 14px;
    color: #8d9296;
    overflow: hidden;
}
.container-chat .chat img{
    height: 100%;
    vertical-align: middle;
    border-radius: 50%;
}
/* fine colonna sinistra  */
/* colonna di destra  */
main .col-dx {
    height: 100%;
    width: calc(100% - 400px);
}
.col-dx  .container-col-dx {
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* header colonna destra  */
main .col-dx header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.container-user-chat {
    width: 50%;
    display: flex;
}
.container-user-chat img {
    height: 100%;
    border-radius: 50%;
}
.container-user-chat-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}
.access {
    margin-left: 5px;
    color: #80868a;
    font-size: 14px;
}
/* fine header colonna destra  */
.col-dx .container-user-messages {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.messages {
    /* flex-grow: 1; */
    height: calc(100% - 60px - 70px);
    background-image: url(../img/mine.jpg);
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.messages .messaggi {
    width: 200px;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 10px;
    position: relative;
}
.blocco_opzioni {
    top: 90%;
    left: 0;
    position: absolute;
    background-color: rgb(245, 241, 241);
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 10px;
    z-index: 1;
}
.lista_message {
    list-style: none;
}
.lista_message li {
    margin: 10px 0;
    padding: 5px 20px;
}
.data {
    color: #80868a;
    font-size: 12px;
    text-align: right;
    margin-top: 2px;
}
.container-user-messages {
    background-color: #f3eee9;
}
.container-user-messages input {
    margin: 0 10px;
    flex-grow: 1;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;

}
.container-user-messages i {
    font-size: 18px;
    color: #80868a;
}
/* fine colonna di destra */
/* FINE MAIN  */

/* HOVER  */
main i, .container-bell, .chat, .container-search {
    cursor: pointer;
}
.lista_message li:hover{
    cursor: pointer;
    background-color: rgb(236, 233, 233);
}