<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="container" id="app">
        <div class="barra"></div>
        <main>
            <div class="col-sx">
                <!-- dati utente  -->
                <header>
                    <div class="container-user">
                        <img :src="utente.avatar" :alt="utente.name">
                        <span class="user-name">{{utente.name}}</span>
                    </div>
                    <div class="container-icon-user">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </header>
                <!-- notifiche  -->
                <div class="container-notifiche">
                    <div class="container-bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div>
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <a class="link-notifiche" href="#">Attiva notifiche di desktop</a>
                    </div>
                </div>
                <!-- barra cerca e chat  -->
                <div class="container-search">
                    <div id="search-user">
                        <i class="fas fa-search"></i>
                    </div>
                    <input id="search-chat" v-model="cerca" type="text" placeholder="Cerca una nuova chat" @keyup.delete="lunghezza" @keyup="controlValue">
                </div>
                <div class="container-chat">
                    <div class="chat" v-if="contact.visible == true" v-for="(contact,index) in contacts" @click="chatta(index)">
                        <img :src="contact.avatar" :alt="contact.name">
                        <div class="container_nome">
                            <span class="chat-name">{{contact.name}}</span>
                            <p class="last-message">{{contact.messages[contact.messages.length - 1].text}}</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-dx">
                <!-- colonna di destra  -->
                <div class="container-col-dx" id="col-dx-container">
                    <header>
                        <div class="container-user-chat">
                            <img id="user-foto" :src="contacts[index].avatar" :alt="contacts[index].name">
                            <div class="container-user-chat-name">
                                <span id="chat-name-now">{{contacts[index].name}}</span>
                                <template v-if="contacts[index].messages[contacts[index].messages.length -1].date.length == 19">
                                    <p class="access" >ultimo accesso oggi alle 
                                        <span id="last-access"  >{{contacts[index].messages[contacts[index].messages.length -1].date.slice(10)}}</span>
                                    </p>
                                </template>
                                <template v-else>
                                    <p class="access" >ultimo accesso 
                                        <span>{{contacts[index].messages[contacts[index].messages.length -1].date}}</span>
                                    </p>
                                </template>
                            </div>
                        </div>
                        <div class="container-icon-chat">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </header>
                    <!-- parte centrale conversazioni  -->
                    <div class="messages" id="container-messaggi" @click.stop="hidePopup" >
                        <div class="messaggi" :class="(messaggi.status == 'sent') ? 'green' : 'white' " v-for="(messaggi,indice) in contacts[index].messages" @click.stop="opzioniMessaggio(messaggi,indice)">
                            {{messaggi.text}}
                            <div class="data">
                                {{messaggi.date}}
                                <template v-if="(messaggi.status == 'sent')">
                                    <i :class="messaggi.colorChecked + messaggi.check"></i>
                                </template>

                            </div>
                            <div :class="(messaggi.openOption == true) ?  'blocco_opzioni' : 'none' ">
                                <ul v-if="(!info)" class="lista_message" >
                                    <li @click.stop="getInfo(indice)">Info Message </li>
                                    <li @click.stop="cancella(indice)">Delete Message</li>
                                </ul>
                                <ul v-else class="lista_message">
                                    <li>ora del messaggio: {{messaggi.date}}</li>
                                    <li>stato:   {{messaggi.status}}</li>
                                </ul>
                                    
                            </div>
                        </div>
                    </div>
                    <!-- input messaggi -->
                    <div class="container-user-messages">
                        <i class="far fa-smile"></i>
                        <input type="text" placeholder="Invia un messaggio" v-model="mex" @keyup.enter="inviaMessaggio()">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>